.dashboard {
  padding-top: 5rem;
  display: flex;
  min-height: 200rem;
  background-color: var(--back);
}

.dashboard nav {
  width: 15rem;
  margin-right: 10rem;
  max-height: 26.3rem;
  background-color: #268c67;
}

.dashboard nav .user {
  background-color: #2d7b5e;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: 2px solid var(--azul-claro);
}

.dashboard nav .user h1 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}
.dashboard nav .user span {
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  font-family: "Roboto", system-ui, -apple-system;
}

.dashboard nav .user img {
  box-sizing: initial;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid white;
  box-shadow: 0px 0px 10px var(--verde-logo-claro);
}

.dashboard nav .user footer {
  margin: 1rem auto 0;
  align-items: center;
  justify-content: center;
}

.dashboard nav .user footer button {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--verde-logo-escuro);
  border: none;
  font-family: "DM sans", system-ui, -apple-system;
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
  box-shadow: 0px 0px 10px var(--verde-logo-claro);
  border: 2px solid var(--azul-claro);
}

.dashboard nav ul li {
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 1rem;
  height: max-content;
  color: white;
  display: flex;
  justify-content: space-between;
}
