.dashboard {
  padding-top: 4rem;
  display: flex;
  /* min-height: 200rem; */
  background-color: var(--back);
}

.dashboard main {
  width: 100%;
  margin-right: 200px;
}

.dashboard main button {
  font-size: 1.2rem;
  border: none;
  font-weight: 600;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  width: 5rem;
  height: 2rem;
  margin-top: 5rem;
  padding: 0;
  margin-right: 2rem;
  border-bottom: 4px solid var(--verde-frase-claro);
}

.dashboard main button.ativo {
  border-bottom: none;
  color: #7e7d79;
}

.dashboard nav {
  height: min-content;
  /* width: 20rem; */
  margin-right: 5rem;
  border-right: 1px solid #c4c4c4;
}

.dashboard nav .user {
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  /* border-bottom: 2px solid var(--azul-claro); */
}

.dashboard nav .user h1 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--verde-logo-claro);
}
.dashboard nav .user span {
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--verde-frase-claro);
  font-family: "Roboto", system-ui, -apple-system;
}

.dashboard nav .user img {
  box-sizing: initial;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid var(--verde-frase-escuro);
  box-shadow: 0px 0px 6px 1px #7e7d79;
}

.dashboard nav .user footer {
  margin: 1rem auto 0;
  padding: 0 1rem 0;
  align-items: center;
  justify-content: center;
}

.dashboard nav .user footer button {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--verde-logo-escuro);
  border: none;
  font-family: "DM sans", system-ui, -apple-system;
  font-weight: 500;
  font-size: 0.7rem;
  color: white;
  box-shadow: 0px 0px 3px 1px #7e7d79;

  width: 100%;
  white-space: nowrap;
}

.dashboard nav ul li {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 1rem;
  height: max-content;
  color: var(--verde-frase-escuro);
  display: flex;
  /* background-color: rgb(33, 120, 196); */
  justify-content: space-between;
}

@media (max-width: 1259px) {
  html{
    font-size: 80%;
  }
  .dashboard {
    flex-wrap: wrap;
  }
  .dashboard nav {
    margin: 0 auto;
    width: 100%;
    border-right: none;
  }

  .dashboard nav ul  {
    margin: 0 auto;
    width: max-content;
  }
  .dashboard main {
    margin: 0 auto;
    padding: 0 3rem;
  }
}
