.duvidas {
  margin-top: 58px;
  background-color: var(--back);
}

.banner {
  width: 100%;
  height: 30rem;
  background-size: cover;
  background-image: url("../assets/bannerDuvidas.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.banner h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: white;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.banner h2 {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.planos {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -4rem;
}

.plano {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  background-color: #d9d8d0;
  max-width: 20rem;
}

.plano h1 {
  padding: 0 1rem;

  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
  color: var(--verde-logo-escuro);
}
.plano ul li {
  padding: 0 1rem;

  white-space: nowrap;
  display: flex;
  align-items: center;
}

.plano .rodape {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #c6c5bd;
}

.plano .rodape p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.plano .rodape button {
  width: 60%;
  height: 2rem;
  border-radius: 15px;
  border: none;
  background-color: var(--verde-logo-escuro);
  color: white;
  font-weight: 500;
  margin-bottom: 2rem;
}
