.Header {
  position: fixed;
  background-color: var(--back);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px #515356;
}

.logo {
  padding: 1rem 0;
}
.logo img {
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.option {
  min-width: 29rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option li {
  font-size: 1rem;
  color: var(--verde-frase-claro);
  font-weight: 300;
  font-family: "DM sans", Arial, Helvetica, sans-serif;
}

.option .login {
  width: 8.2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.responsive {
  display: none;
}
@media (max-width: 1024px) {
  .logo {
    margin: 0 auto;
  }
  .logo img {
    width: 5.4rem;
    height: 2rem;
  }

  .option {
    display: none;
  }
}
