.Header {
  position: fixed;
  background-color: var(--back);
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px #515356;
  top: 0;
}



.logo {
  padding: 1rem 0;
}
.logo img {
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.option {
  min-width: 29rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option li,
a {
  font-size: 1rem;
  padding: 0;
  color: var(--verde-frase-claro);
  font-weight: 300;
  font-family: "DM sans", Arial, Helvetica, sans-serif;
}


.option .login {
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .Header {
    justify-content: space-around;
  }
  .logo img {
    width: 5.4rem;
    height: 2rem;
  }

  .option {
    display: none;
  }
}
