.login {
  margin-top: 4.2rem;
  width: 100%;
  padding: 10rem 200px 20rem 200px;
  background-color: var(--back);
}
.login h1 {
  font-size: 3rem;
  width: 9rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  white-space: nowrap;
  color: var(--verde-logo-claro);
  border-bottom: 4px solid var(--verde-frase-claro);
}

.login p {
  font-size: 1rem;
  font-weight: 600;
  color: #8c8c87;
  padding-top: 0.5rem;
}
.login form {
  max-width: 50rem;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.login form .loginForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  color: var(--verde-frase-claro);
  width: 100%;
  max-width: 50rem;
}

.login form label {
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 0 0.2rem 0;
}

.login form input {
  padding: 0.5rem;
  border: 1px solid var(--verde-frase-claro);
  border-radius: 4px;
  background-color: #d9d8d0;
}

.login input:focus {
  background-color: white;
}

.login span {
  margin-top: -0.2rem;
  color: red;
}

.login button {
  background-color: var(--verde-logo-claro);
  margin-top: 5rem;
}

.login button:hover {
  background-color: var(--verde-frase-claro);
  border: 2px solid var(--verde-logo-escuro);
}

.login img {
  position: absolute;
  bottom: -25px;
  right: 3px;
}
@media (min-width: 1641px) {
  .login {
    height: 56.5rem;
  }
}

@media (max-width: 1640px) {
  .login {
    height: 46.5rem;
  }
  .login img {
    bottom: 0px;
    height: 50%;
  }
}

@media (max-width: 1259px) {
  .login {
    height: 80vh;
  }

  .login img {
    display: none;
  }
}

@media (max-width: 767px) {
  .login {
    padding: 3rem 3rem;
    height: 80vh;
  }
}
